*{
    margin:0;
    padding:0;
    
}
a{
    text-decoration: none;
}
kbd{
    border:1px solid red;
    display: inline-block;
    width:4em;height:4em;
    text-transform: uppercase;
    position: relative;
}
kbd>button{
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover>button{
    display:inline-block;
}
main{
    text-align: center;
}
#y{
    display: inline-block;
}
#y>div:nth-child(2){
margin-left:0.4em;
}
#y>div:nth-child(3){
    margin-left:0.6em;
}
